/Assets/_TerrainAutoUpgrade
/Assets/Extreme Wastelands Pack
/Assets/FT_MagicEffect_vol3
/Assets/FX_Kandol_Pack
/Assets/JMO Assets
/Assets/MagicArsenal
/Assets/MagicEffectsLightningVol01
/Assets/Mech_Constructor_Spiders
/Assets/Output
/Assets/RFX_Resources
/Assets/RFX_Scenes
/Assets/Skybox
/Assets/StylizedProjectilePack1
/Assets/KriptoFX
/Assets/Hovl Studio
/Library
/Logs
/obj
/Recordings
/Temp